@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #111111;
    font-family: "Montserrat";
    transition: .5s;
}

.container{
    max-width: 500px;
    margin: 72px auto;
}

body{
    padding: 0 35px;
}
h3{
    font-size: 1.5rem;
}
h1{
    font-size: 2.5rem;
}

.black-mode{
    color: #F6F6F6;
}