@keyframes showTask {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

body .container .tasks ul{
    list-style: none;
}
body .container .tasks ul li{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    width: 100%;
    margin-bottom: 16px;
}

body .container .tasks .task{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    animation: showTask 1s normal forwards;

}

body .container .tasks .task p{
    width: calc(100% - 64px);
    word-wrap: break-word;
}

body .container .tasks .task .checkLabel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

/* MAKING CHECK CUSTOMIZATION */
body .container .tasks .task .checkLabel input{
    display: none;
}

body .container .tasks .task .checkLabel .checkMarker{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    min-width: 24px;
    min-height: 24px;
    background-color: #ECECEC;
    border-radius: 6px;
    margin-right: 12px;
}
.black-mode .container .tasks .task .checkLabel .checkMarker{
    background-color: #16191E;    
}
body .container .tasks .task .checkLabel .checkMarker svg{
    position: relative;
    left: -.5px;
    bottom: -.5px;
    opacity: 0;
}
.black-mode .container .tasks .task .checkLabel .checkMarker svg path{
    stroke: #0A0C0F;
}
body .container .tasks .task .checkLabel input:checked ~ .checkMarker{
    background: #5B29E5;
}
body .container .tasks .task .checkLabel input:checked ~ .checkMarker svg{
    opacity: 1;
}

body .container .tasks .task .checkLabel input:checked ~ p{
    color: #AAAAAA;
    text-decoration: line-through;
}
.black-mode .container .tasks .task .checkLabel input:checked ~ p{
    color: #2F3339;
    text-decoration: line-through;
}

body .container .tasks .task .checkLabel p{
    font-size: 1.12rem;
}

.black-mode .container .tasks .task .checkLabel p{
    color: #AFAFAF;
}
.black-mode .container .tasks .task .checkLabel p:hover{
    color: #e4e4e4;
}

body .container .tasks .task .deleteTask svg path{
    stroke: #AAAAAA;
}
.black-mode .container .tasks .task .deleteTask svg path{
    stroke: #2F3339;
}

/* Delete button costumization */

body .container .tasks ul li .deleteTask{
    display: block;
    opacity: 0;
    transition: .2s;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: transparent;    
    z-index: 5;
    cursor: pointer;
    pointer-events: none;
}

body .container .tasks ul li .deleteTask svg path{
    stroke: #FF3535;
}

body .container .tasks ul li:hover .deleteTask{
    opacity: 1;
    pointer-events: all;
}