body .container .tasks .task{
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
}

body .container .tasks .task .checkLabel{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* MAKING CHECK CUSTOMIZATION */
body .container .tasks .task .checkLabel input{
    display: none;
}

body .container .tasks .task .checkLabel .checkMarker{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #ECECEC;
    border-radius: 6px;
    margin-right: 12px;
}
.black-mode .container .tasks .task .checkLabel .checkMarker{
    background-color: #16191E;    
}
body .container .tasks .task .checkLabel .checkMarker svg{
    position: relative;
    left: -.5px;
    bottom: -.5px;
    opacity: 0;
}
.black-mode .container .tasks .task .checkLabel .checkMarker svg path{
    stroke: #0A0C0F;
}
body .container .tasks .task .checkLabel input:checked ~ .checkMarker{
    background-color: #74FC68;
}
body .container .tasks .task .checkLabel input:checked ~ .checkMarker svg{
    opacity: 1;
}

body .container .tasks .task .checkLabel input:checked ~ p{
    color: #AAAAAA;
    text-decoration: line-through;
}
.black-mode .container .tasks .task .checkLabel input:checked ~ p{
    color: #2F3339;
    text-decoration: line-through;
}

/* CHECK LABEL */
body .container .tasks .task .checkLabel p{
    font-size: 1.12rem;
}

.black-mode .container .tasks .task .checkLabel p{
    color: #AFAFAF;
}
.black-mode .container .tasks .task .checkLabel p:hover{
    color: #e4e4e4;
}
body .container .tasks .task .deleteTask{
    display: none;
    position: absolute;
    border: transparent;
    background-color: transparent;
    right: 0;
    padding: 5px;
    cursor: pointer;
}